#root {
  height: 100vh;
  display: flex;
  background: #eee;
}

.cnt {
  padding: 1rem;
  border-radius: 1.5rem;
  & h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.toolbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  gap: 0.5rem !important;
}
.app-content {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.input-cnt {
  display: flex;
  & input {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  & select {
    padding-right: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
.inputs {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu {
  margin-right: 0 !important;
}

.articles {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: grid;
  overflow: auto;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }
  & > a {
    position: relative;
    overflow: hidden;
    display: block;
    height: 24rem;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    background: #fffff8;
    box-shadow: 0 10px 10px #0003, inset 0 0 5px #0003;

    cursor: pointer;
    & img {
      width: 100%;
      position: absolute;
      border-radius: 1rem;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    & > .text {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      width: 100%;
      background: #fffff8;
      border-radius: 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: inset 0 -5px 5px #0003;
      & > p {
        font-size: 0.75rem;
        margin-top: 0.4rem;
      }
      & > .pubdate {
        opacity: 0.6;
      }
    }
  }
}

.bar-graph {
  height: 10rem;
  width: 15rem;
  background: #ffffff;
  display: flex;
  align-items: flex-end;
  padding: 0.5rem;
  gap: 0.1rem;
  & > .bar {
    flex-grow: 1;
    height: 5rem;
    background: green;
  }
}
#toosmall {
  display: none;
}
@media screen and (max-width: 600px) {
  #root {
    display: none;
  }
  #toosmall {
    display: block;
    padding: 2rem;
    text-align: center;
  }
}
